.container {
    margin: 5% 10%;
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.text, .email {
    font-size: 1.1rem;
}

.light_text, .email {
    color: #555355
}

.email_container {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -100vw;
    animation: slideIn 1s forwards;
    animation-delay: 17s;
}

@keyframes slideIn {
    0% {
        left: -100vw;
    }
    90% {
        left: 10vw;
    }
    100% {
        left: 0vw;
    }
}

.icon {
    width: 6vh;
    height: 6vh;
    margin-right: 3vw;
}

@supports (-webkit-touch-callout: none) {
    .text, .email {
        font-size: 1.2rem;
    }
}

/* long portrait phone*/

@media only screen and (max-device-width: 500px) and (min-device-height: 700px) and (orientation: portrait) {
    .container {
        height: 70%;
        margin-top: 15%;
    }
}

/* very long portrait phone*/

@media only screen and (max-device-width: 500px) and (min-device-height: 800px) and (orientation: portrait) {
    .container {
        height: 60%;
        margin-top: 20%;
    }
}

/* landscape phone*/

@media (orientation: landscape) {

    .container{

        height: 90%;
        margin-top: 1%;

    }

    .email_container, .text{
        margin: 0 20vw;
    }

    .text, .email{
        font-size: 0.9rem;
    }
   
    @supports (-webkit-touch-callout: none) {
        .text, .email {
            font-size: 1rem;
        }
    }

    .icon{
        height: 12vh;
        width: 12vh;
    }
}

/* long landscape phone*/

@media only screen and (min-device-width: 600px) and (max-device-height: 500px) and (orientation: landscape) {

}

/*small tablet landscape*/

@media (min-device-width: 800px) and (min-device-height: 600px) and (max-device-height: 1024px) and (orientation: landscape) {}

/*! maybe useless - ipad portrait*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {}

/*ipad landscape*/

@media only screen and (min-device-height: 1024px) and (max-device-height: 1024px) and (orientation: landscape) {

    .container{
        height: 50%;
        margin-top: 12%;
    }

    .icon{
        height: 6vh;
        width: 6vh;
        margin-right: 1.5vw;
    }

}

/*Other tablet portrait*/

@media (min-device-height: 900px) and (max-device-height: 1280px) and (orientation: portrait) {

    .container{
        width: 55%;
        margin-left: 28%;
        height: 45%;
        margin-top: 25%;
    }

    .text, .email{
        font-size: 2vh;
    }

    .icon{
        margin-right: 1.5vw;
    }
}

/*Other tablet landscape*/

@media (min-device-width: 900px) and (max-device-width: 1280px) and (orientation: landscape) {

    .container{
        height: 75%;
        margin-top: 5%;

    }
    .text, .email{
        font-size: 1.2rem;
    }

    .icon{
        height: 8vh;
        width: 8vh;
        margin-right: 1vw;
    }
}

/*iPad pro portrait*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

    .container{
        width: 40%;
        height: 35%;
        margin-left: 31%;
        margin-top: 30%;
    }
    .text, .email{
        font-size: 1.4rem;
    }

    .icon{
        height: 5vh;
        width: 5vh;
        margin-right: 1vw;
    }
}



/*small laptop */

@media only screen and (min-width: 1200px) {

    .container{
        height: 55%;
        width: 65%;
        margin-top: 10%;
        margin-left: 18%;
    }

    .icon{
        height: 4vh;
        width: 4vh;
        margin-right: 1vw;

    }

    .text, .email{
        font-size: 1.2rem;
    }

}

/*super-massive */

@media only screen and (min-width: 1600px){

    .container{
        height: 45%;
        width: 60%;
    }
}

/*iPad pro landscape*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

    .container{
        height: 50%;
        width: 70%;
        margin-top: 15%;
        margin-left: 16%;
       
    }

    .text, .email{
        font-size: 1.4rem;
    }

    .icon{
        height: 5vh;
        width: 5vh;
    }
}