.link_text {
    display: block;
    font-size: 0.5rem;
    text-decoration: none;
    color: black;
    margin-top:-0.7vh;
    white-space: nowrap

}

.iconWrapper{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}
 .icon {
    width: 10vw;
    height: 10vh;
}

@media (orientation: landscape) and (max-height:481px) {

    .iconWrapper {
        height: 20vh;
    }

    .icon {
        height: 10vh;
    }
    .link_text {
        margin-top:2vh;
    }

}

/*ipad portrait*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

     .icon {
        width: 6.5vh;
        height: 6.5vh
    }
    .link_text {
        margin-top:1vh;
        font-size: 0.7rem;
    }

}

/*ipad landscape*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .icon {
        width: 8vh;
        height: 8vh
    }
    .link_text {
        margin-top:1vh;
        font-size: 0.7rem;
    }
}

/* Galaxy tab 10 portrait */

@media (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (orientation: portrait){

    .icon {
        width: 5vh;
        height: 5vh
    }
    .link_text {
        font-size: 0.7rem;
    }

  }

    /* Galaxy tab 10 landscape */
    @media (min-device-width: 800px) 
    and (max-device-width: 1280px) 
    and (orientation: landscape){
  
        .icon {
            width: 6vh;
            height: 6vh
        }
        .link_text {
            font-size: 0.8rem;
            margin-top: 1vh;
        }
  
    }

/*ipad PRo 12.9" portrait*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {

    .link_text {
        font-size: 0.9rem;
    }
}

/*small laptop */
@media only screen  and (min-width : 1200px) and (min-height : 768px){

    .icon {
        width: 6vh;
        height: 6vh
    }

    .link_text {
        font-size: 1.23vh;
        margin-top: 1vh;
    }

}

/*iPad Pro landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: landscape) {
  
    .icon {
        width: 7vh;
        height: 7vh
    }

    .link_text {
        font-size: 1.43vh;
        margin-top: 1vh;
    }

}


@media only screen and (min-width: 1900px) and (min-device-height: 800px) {

 .icon {
        width: 6vh;
        height: 6vh
    }

    .link_text {
        font-size: 1.23vh;
        margin-top: 1vh;
    }
}


