@import "~react-image-gallery/styles/css/image-gallery.css";
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.project_type {
    margin-bottom: 5%;
}

.inner_container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.thumbnail_container{

    display: flex;
    justify-content: center;
    align-items: center;

}

.thumbnail {

    object-fit: cover;
    height: 25vh;
    width: 80%;

}

.take_a_look{
    display: none;
}

.thumbnail_hovered{
    display: none;
}



@-webkit-keyframes slide {
    100% { bottom: 0%; }
}

@keyframes slide {
    100% { bottom: 0%; }
}


@keyframes changeColor {
    0% {
      background-color: transparent;
    }
    100% {
        background-color: rgba(0, 0, 0, 0.821);
    }
  }

.view_gallery {
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 0.7vh;
}

.mobile_description {
    font-size: 0.85rem;
}

.tech_used {
    font-size: 0.8rem;
    position: absolute;
    bottom: 27%;
    text-align: center;

}

/* long portrait phone*/

@media only screen and (max-device-width: 500px) and (min-device-height: 700px) and (orientation: portrait) {
    .tech_used{
        bottom: 30%;
    }
    .mobile_description {
        font-size: 0.87rem;
    }
}

/* very long portrait phone*/

@media only screen and (max-device-width: 500px) and (min-device-height: 800px) and (orientation: portrait) {
    .mobile_description {
        font-size: 0.9rem;
    }
}

/* small landscape phone*/

@media (orientation: landscape){

    .tech_used {
        font-size: 0.4rem;
        bottom: 44%;
    }

    .thumbnail{
        height: 27vh;
    }

    .project_type{
        font-size: 0.8rem;
    }
}

/* landscape phone*/

@media (orientation: landscape) and (min-device-height: 400px) {

    .mobile_description {
        font-size: 0.6rem;
    }
    .tech_used {
        bottom: 45%;
        margin: 0;
        padding: 0;
        font-size: 0.6rem;
    }
    .project_type {
        font-size: 0.8rem;
    }
    .view_gallery {
        font-size: 0.7rem;
    }
    .thumbnail{
        height: 30vh;
    }
}

/* long landscape phone*/

@media only screen and (min-device-width: 600px) and (max-device-height: 500px) and (orientation: landscape) {

    .tech_used{
        font-size: 0.7rem;
    }
}

/*small tablet portrait*/

@media (min-device-height: 800px) and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
    .project_type {
        font-size: 1.3rem;
    }
    .view_gallery {
        font-size: 1rem;
    }
    .tech_used {
        font-size: 1.1rem;
    }
    .mobile_description {
        font-size: 1.2rem;
    }
}

/*small tablet landscape*/

@media (min-device-width: 800px) and (min-device-height: 600px) and (max-device-height: 1024px) and (orientation: landscape) {
    .project_type {
        font-size: 1rem;
    }
    .tech_used {
        font-size: 0.9rem;
    }
    .mobile_description {
        font-size: 0.9rem;
    }
}

/*! maybe useless - ipad portrait*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {}

/*ipad landscape*/

@media only screen and (min-device-height: 1024px) and (max-device-height: 1024px) and (orientation: landscape) {
    .project_type {
        font-size: 1.25rem;
    }
    .tech_used {
        font-size: 1rem;
    }
    .mobile_description {
        font-size: 0.95rem;
    }
    .thumbnail{
        height: 22vh;
    }
}

.view_gallery {
    font-size: 0.89rem;
}

/*Other tablet portrait*/

@media (min-device-height: 900px) and (max-device-height: 1280px) and (orientation: portrait) {

    .tech_used{
        bottom: 20%;
    }

    .thumbnail{
        height: 22vh;
    }

    @supports (-webkit-touch-callout: none) {
        .thumbnail{
            height: 21vh;
        }

      }
}

/*Other tablet landscape*/

@media (min-device-width: 900px) and (max-device-width: 1280px) and (orientation: landscape) {
    .project_type {
        font-size: 1.25rem;
    }
    .tech_used {
        font-size: 2.7vh;
        bottom: 44%;
    }
    .thumbnail{
        height: 28.5vh;
    }
}

/*iPad pro portrait*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

    .project_type{
        font-size: 1.8rem;
    }

    .tech_used{
        font-size: 1.5rem;
        bottom:23%
    }
    .mobile_description{
        font-size: 1.6rem;
    }

    .thumbnail{

        height: 21vh;
    }
}



/*small laptop */

@media only screen and (min-width: 1200px){

    .thumbnail{
        height: 20vh;
    }

    .tech_used{
        font-size: 0.8rem;
        bottom: 40%;
    }

    .mobile_description{
        font-size: 0.8rem;
    }

    .thumbnail_hovered{
        background-color: rgba(0, 0, 0, 0.821);
        height: 20vh;
        width: 80%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        
        cursor: pointer;
        font-weight: 900;
        animation: changeColor 1.5s;
    }
    
    .take_a_look{
    
        position: relative;
        bottom: -100px;
        -webkit-animation: slide 1s forwards;
        animation: slide 1s forwards;
        display: block;
        color: rgb(205, 217, 241);
    }
}


/*iPad pro landscape*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

    .project_type{
        font-size: 1.7rem;
    }

    .tech_used{
        font-size: 1.3rem;
        bottom: 43%;
    }

    .mobile_description{
        font-size: 1.4rem;
    }
}

/*super-massive */
@media only screen and (min-width: 1600px)  {

.project_type{
    font-size: 1.1rem;
}
  

}