.container{
    display: flex;
    flex-direction: column;
}

.project_name{
    font-size: 20px;
}

.project_description{
    font-size: 28px;
    margin-top: 0;
}

.date_container{
    width:230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:grey;
    font-size: 15px;
}
