.container {
    display: flex;
    flex-direction: column;
}

.header_container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 4%;
    max-lines: 1;
}

.header {
    font-size: 1rem;
    margin-top: 6%;
    margin-bottom: 3%;
    color: #555355;
    padding: 2% 2%;
    border: 2px solid #555355;
    text-align: center;
    max-lines: 1;
}


.skill_card_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0%;
    animation: slideIn 0.9s;
    position: relative;
}

/* landscape phone*/

@media (orientation: landscape) {
    .header {
        margin-top: 3%;
        padding: 1% 1%;
    }

    @supports (-webkit-touch-callout: none) {}
}

/*small tablet portrait*/

@media (min-device-height: 800px) and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {}

/*small tablet landscape*/

@media (min-device-width: 800px) and (min-device-height: 600px) and (max-device-height: 1024px) and (orientation: landscape) {
    .header {
        width: unset;
        padding: 1% 1%;
    }
}

/*! maybe useless - ipad portrait*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {}

/*ipad landscape*/

@media only screen and (min-device-height: 1024px) and (max-device-height: 1024px) and (orientation: landscape) {

    .header{
        padding: 1% 1%;
    }
}

/*Other tablet portrait*/

@media (min-device-height: 900px) and (max-device-height: 1280px) and (orientation: portrait) {}

/*Other tablet landscape*/

@media (min-device-width: 900px) and (max-device-width: 1280px) and (orientation: landscape) {


}

/*iPad pro portrait*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .header {
        font-size: 1.5rem;
    }
}

/*small laptop */

@media only screen and (min-width: 1200px) {

    .header_container{
        max-lines: 1;
    }
    .header {
        width: unset;
        padding: 0.5% 1%;
        text-align: start;
        max-lines: 1;
    }
    .header {
        margin-bottom: 0;
    }
    .header:hover {
        border-color:#A81B86 ;
        color: #A81B86;
        cursor: pointer;
    }
}

@keyframes slideIn {
    0% {
        transform: scale(0.1);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/*super-massive */

@media only screen and (min-width: 1600px) {
    .header {
        padding: 0.5% 1%;
    }
}

/*iPad pro landscape*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    @supports (-webkit-touch-callout: none) {
        .header {
            font-size: 1.4rem;
            padding: 1% 1%;
        }
    }
}