.tab_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 7vh;
}

.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:-2% 14%;
    padding-top:7%;

}

.active_tab {
    border-bottom: 2px solid #04999A;
}

/* long portrait phone*/
@media only screen and (max-device-width: 500px) and (min-device-height: 700px) and (orientation: portrait) {
    


}

/* landscape phone*/
@media (orientation: landscape) {

    .tab_container{
        margin-top: 1vh;}
    .tab{
        margin: 0% 18.5%;
        padding: 0;
    }

}


/* long landscape phone*/
@media only screen and (min-device-width: 600px) and (max-device-height: 500px) and (orientation: landscape) {


}

/*small tablet portrait*/
@media (min-device-height: 800px) and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {

    .tab_container{
        margin-left: 7%;
    }

}
    
/*small tablet landscape*/
@media (min-device-width: 800px) and (min-device-height: 600px) and (max-device-height: 1024px) and (orientation: landscape) {


}

/*! maybe useless - ipad portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

    .container{
        margin-top: 1vh;
    }

}

/*ipad landscape*/
@media only screen and (min-device-height: 1024px) and (max-device-height: 1024px) and (orientation: landscape) {

    .tabs_container{
        margin-left:20%;
        background-color: red;
    }

}

/*Other tablet portrait*/
@media (min-device-height: 900px) and (max-device-height: 1280px) and (orientation: portrait) {
   
  
}

/*Other tablet landscape*/
@media (min-device-width: 900px) and (max-device-width: 1280px) and (orientation: landscape) {


}

/*iPad pro portrait*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

.tab{
    font-size: 1.5rem;
}
}

/*iPad pro landscape*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
 
    .tab{
        font-size: 1.5rem;
    }
}

/*small laptop */
@media only screen and (min-width: 1200px){

    .tab_container{
        margin: 0 35%;
    }
    .tab{margin: 0 12%;}

    .tab:hover{
        cursor: pointer;
    }

}

/*super-massive */
@media only screen and (min-width: 1600px) {

  

}