.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-bottom: 20vh;
    -ms-overflow-style: none;

}

.container::-webkit-scrollbar{
    display: none;
}

.filter_button_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.filter_by_type {

    color: #555355;
    font-weight: 900;
    padding: 2% 2%;
    border: 2px solid #555355;
    text-align: center;
    font-size: 0.8rem;

}

/* landscape phone*/
@media (orientation: landscape) {

.container{
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-top: 2%;
    
}

.filter_by_type {

    margin-left: 14%;
    padding: 1% 2%;

}

}

/*small tablet portrait*/

@media (min-device-height: 800px) and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {

}

/*small tablet landscape*/

@media (min-device-width: 800px) and (min-device-height: 600px) and (max-device-height: 1024px) and (orientation: landscape) {

}



/*ipad landscape*/

@media only screen and (min-device-height: 1024px) and (max-device-height: 1024px) and (orientation: landscape) {

    .container{
        margin-left: 12%;
        margin-top: 3%;
    }

    .filter_by_type{
        
        margin-left: 12%;
    }
}

/*Other tablet portrait*/

@media (min-device-height: 900px) and (max-device-height: 1280px) and (orientation: portrait) {

    .filter_by_type{
        margin-left: 16%;
    }

    @supports (-webkit-touch-callout: none) {
        .filter_by_type{
            margin-left: 14%;
        }

      }

}

/*Other tablet landscape*/

@media (min-device-width: 900px) and (max-device-width: 1280px) and (orientation: landscape) {

    .container{
        margin-left: 15%;
        margin-top: 2%;
    }

    .filter_by_type{
        margin-right: 4%;
    }



}

/*iPad pro portrait*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

    .filter_by_type{
        margin-left: 15%;
        font-size: 1.2rem;
    }

}



/*small laptop */

@media only screen and (min-width: 1200px){

    .container{
        margin-left: 6%;
        margin-top: 3%;
    }

    .filter_by_type{
        margin-right: 6%;
    }

    .filter_by_type:hover{
        cursor: pointer;
        border-color: black;
        color: black;
    }


}


/*iPad pro landscape*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

    .container{
        margin-left: 10%;
    }

    
    .filter_by_type{
        margin-left: 13%;
        font-size: 1.2rem;
    }

}

/*super-massive */
@media only screen and (min-width: 1600px)  {

        .container{
            margin-left: 10%;
        }      
    
        .filter_by_type{

            margin-left: 7%;
        }
    }