.container {
    display: flex;
    flex-direction: column;
    height: 37.5%;
    background-image: url("../../Assets/Img/profile-background.svg");
    background-repeat: no-repeat;
    background-size: cover;

}

.overlay {

    position: fixed;
    top: 0;
    left: 0;
    height: 42.5%;
    width: 100%;
    background-color: rgba(0,0,0,0);

}

.photo_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    height: 10vh;
}

.photo {

    height: 30vh;
    width: 30vh;
    object-fit: none;
    border-radius: 200px;
    object-position: 47% 5%;
    transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    border: 5px solid white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.555);
}

.caption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
    width: 100%;
}

.caption_text{
    font-weight: 900;
    color: black;
    z-index: 999;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    background-color: white;
    width: fit-content;
    padding: 2px 4px;
    border-radius: 10px;
}

/* long portrait phone*/
@media only screen and (max-device-width: 500px) and (min-device-height: 700px) and (orientation: portrait) {
    


}

/* landscape phone*/
@media (orientation: landscape) {

    .container{
        height: 43%;
    }
    .photo{
        height: 50vh;
        width: 50vh;
        margin-top: 5vh;
    }
    .caption{
        margin-top: 12vh;
    }

}


/* long landscape phone*/
@media only screen and (min-device-width: 600px) and (max-device-height: 500px) and (orientation: landscape) {


}

/*small tablet portrait*/
@media (min-device-height: 800px) and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {


}
    
/*small tablet landscape*/
@media (min-device-width: 800px) and (min-device-height: 600px) and (max-device-height: 1024px) and (orientation: landscape) {


}

/*! maybe useless - ipad portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

    .container{
        margin-top: 1vh;
    }

}

/*ipad landscape*/
@media only screen and (min-device-height: 1024px) and (max-device-height: 1024px) and (orientation: landscape) {

    
}

/*Other tablet portrait*/
@media (min-device-height: 900px) and (max-device-height: 1280px) and (orientation: portrait) {
   
  
}

/*Other tablet landscape*/
@media (min-device-width: 900px) and (max-device-width: 1280px) and (orientation: landscape) {


}

/*iPad pro portrait*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

    .caption{
        font-size: 2rem;
    }

}

/*iPad pro landscape*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
 
    .photo{
        height: 30vh;
        width: 30vh;
    }

    .caption{
        font-size: 2rem;
        margin-top: 7vh;
    }
}

/*small laptop */
@media only screen and (min-width: 1200px) and (min-height: 768px) {

    .photo{
        height: 25vh;
        width: 25vh;
        margin-top: 10%;
    }

    .caption{
        font-size: 1.2rem;
        margin-top: 7.5%;
    }

}

/*super-massive */
@media only screen and (min-width: 1600px) and (min-height: 768px) {

  

}