.container{
    height: 300px;
    width: 100%;
    position: relative;
    top: -100px;
    font-size: 18px;
}

.text{
    font-weight: bold;
}

.sub_text{
    font-weight: 400;
}

.second_para{
    margin-top: 10px;
}

@media (min-width: 500px){

    .container{
        top: -50px;
    }
}

@media (min-width: 900px){

    .container{
        top: 10px;
    }
}

@media (min-width: 900px){

    .container{
        top: 25px;
    }
}