.container{
    width: 100%;
    position: relative;
    font-size: 18px;
    background-color: whitesmoke;
    width: 100%;
    padding:20px 40px;
    left: -40px;
}

.text{
    font-weight: bold;
}

.sub_text{
    font-weight: 400;
}

.second_para{
    margin-top: 20px;
}

@media (min-width: 500px){

    .container{
       margin-top: 0px;
    }
}

@media (min-width: 900px){

    .container{
      margin-top: 20px;
    }
}

@media (min-width: 1200px){

    .container{
        margin-top: 25px;
    }
}