.footer_container{
    position: relative;
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.icon {
    width: 6.5vh;
    height: 6.5vh;
    margin-top: 9%;
}

/* long portrait phone*/
@media only screen and (max-device-width: 500px) and (min-device-height: 700px) and (orientation: portrait) {
    
    .icon {
        width: 6vh;
        height: 6vh;
    }

}