.container{
    width:28%;
    margin: 2.5% 0;
    margin-left: 5%;
    height: 15vh;


}

.title_container{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;


}
.title{

    font-size: 0.9rem;
    font-weight: 900;
    text-align: center;
}

.icon_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
 
}

.icon{
    height: 7vh;
}


/* long portrait phone*/
@media only screen and (max-device-width: 500px) and (min-device-height: 700px) and (orientation: portrait) {
    

}

/* landscape phone*/
@media (orientation: landscape) {

    .container{
        width: 14%;
        height: 24vh;
    }

    .icon{
        height: 12vh;
    }

}


/* long landscape phone*/
@media only screen and (min-device-width: 600px) and (max-device-height: 500px) and (orientation: landscape) {


}

/*small tablet portrait*/
@media (min-device-height: 800px) and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {

    .container{
        width: 27%;
        height: 12vh
    }

    .icon{
        height: 5vh;
    }

}

/*small tablet landscape*/
@media (min-device-width: 800px) and (min-device-height: 600px) and (max-device-height: 1024px) and (orientation: landscape) {

    .container{
        width: 8%;
        height: 20vh
    }

    .icon{
        height: 8vh;
    }

}

/*! maybe useless - ipad portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

    .container{
        width: 25%;
    }



}

/*ipad landscape*/
@media only screen and (min-device-height: 1024px) and (max-device-height: 1024px) and (orientation: landscape) {

    @supports (-webkit-touch-callout: none) {

        .container{
            width: 12%;
            height: 15vh;
        }
        .icon{
            height: 8vh;
        }

    }
    
}

/*Other tablet portrait*/
@media (min-device-height: 900px) and (max-device-height: 1280px) and (orientation: portrait) {
   

}

/*Other tablet landscape*/
@media (min-device-width: 900px) and (max-device-width: 1280px) and (orientation: landscape) {


}

/*iPad pro portrait*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

    .title{
        font-size: 1.4rem;
    }
    .container{
        width: 22vw;
    }

}



/*small laptop */
@media only screen and (min-width: 1200px) {

    .container{
        width:8%;
        height: 14vh;
    }

    .icon{
        height: 6vh;
    }

    .title{
        font-size: 0.9rem;
        text-align: center;
    }

}

/*super-massive */
@media only screen and (min-width: 1600px) and (min-height: 768px) {

  .container{
      width: 6%;
      height: 12.5vh;
  }

}

/*iPad pro landscape*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

    @supports (-webkit-touch-callout: none) {

        .title{
            font-size: 1.3rem;
        }
        .container{
            width: 10%;
            height: 15vh;
        }
    }
}